<!-- JUMBOTRON -->
<div class="jumbotron-custom">
<div class="container position-relative text-center" style="padding-top: 4px;">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img class="header-logo" src="assets/logo.png" class="logo"/>
    </a>
  </div>
</div>
<!-- Usuario -->
<div *ngIf="userEmail" class="user-badge justify-content-center">
 Estás conectado como&nbsp;<strong>{{ userEmail }}</strong>
</div>

<!-- NAVBAR -->
<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li>
        <a routerLink="/fotovoltaicaform" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Fotovoltaica (API PVGIS)
        </a>
      </li>
      <li>
        <a routerLink="/fotovoltaica" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Calcular fotovoltaica
        </a>
      </li>
      <li>
        <a routerLink="/eolica" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Calcular eólica
        </a>
      </li>
      <li>
        <a routerLink="/info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Información
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/registro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Registro
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <button (click)="logout()" class="logout-button">Logout</button>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Iniciar sesión
        </a>
      </li>
    </ul>
  </div>
</nav>