<div class="jumbotron-custom">
  <div class="container text-center">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img class="header-logo" src="assets/logo.png" class="logo"/>
    </a>
  </div>
</div>

<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li><a routerLink="/fotovoltaica" routerLinkActive="active">Calcular fotovoltaica</a></li>
      <li><a routerLink="/eolica" routerLinkActive="active">Calcular eólica</a></li>
      
      <!-- Condicional para mostrar el link de Registro solo si no está autenticado -->
      <li *ngIf="!isAuthenticated"><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
      
      <li><button (click)="logout()" class="logout-button">Logout</button></li>
    </ul>

    <div *ngIf="userEmail" class="user-info">
      Estás conectado como <strong>{{ userEmail }}</strong>
    </div>
  </div>
</nav>